<!DOCTYPE html>
<html lang="en">

<head>
    <% const chunckName = 'activity-invite2-rules';%>
    <% const http = htmlWebpackPlugin.options.http;%>
    <% const linkList = htmlWebpackPlugin.files.chunks[chunckName].css%>
    <% const scriptList = htmlWebpackPlugin.files.chunks%>
    <% const chunks = ['manifest',chunckName]%>
    <%=require('html-loader!common/layout/mobile-meat.html')%>
    <title>活动规则</title>
    <% for(var i = 0;i<linkList.length;i++){ %>
        <link rel="stylesheet" href="<%=linkList[i]%>">
    <% } %>
    <%= require('inline-script-loader?isUglify=true!common/lib/flexible-plan3.js') %>
    <%= require('inline-script-loader!common/lib/global.js') %>
</head>

<body>
    <%= require('html-loader!./template/container.html')%>
</body>
    <!-- ip地址获取 -->
    <!-- <script src="<%=http%>://pv.sohu.com/cityjson?ie=utf-8"></script> -->
    <!-- 脚本异常监控 -->
    <!-- <script src="<%=http%>://js.fundebug.cn/fundebug.0.4.0.min.js" apikey="<%=htmlWebpackPlugin.options.fundebugKey%>" releasestage="<%=htmlWebpackPlugin.options.NODE_ENV%>"></script> -->
    <!-- 友盟统计 -->
    <!-- <script src="<%=http%>://s22.cnzz.com/z_stat.php?id=1274431796&web_id=1274431796" language="JavaScript"></script> -->
    <script src="//apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js" type="text/javascript"></script>
    <% chunks.forEach(function(name,index){ %>
        <% if(typeof scriptList[name] === 'object'){ %>
            <script type="text/javascript" src="<%=scriptList[name].entry%>"></script>
        <% } %>
    <% }) %>
</html>