<!DOCTYPE html>
<html lang="en">

<head>
    <% const chunckName = 'activity-gzwx-180508';%>
    <% const http = htmlWebpackPlugin.options.http;%>
    <% const linkList = htmlWebpackPlugin.files.chunks[chunckName].css%>
    <% const scriptList = htmlWebpackPlugin.files.chunks%>
    <% const chunks = ['manifest',chunckName]%>
    <%=require('html-loader!common/layout/mobile-meat.html')%>
    <title>考拉记账</title>
    <% for(var i = 0;i<linkList.length;i++){ %>
        <link rel="stylesheet" href="<%=linkList[i]%>">
    <% } %>
    <%= require('inline-script-loader!common/lib/flexible.js') %>
    <!-- ip地址获取 -->
    <script src="<%=http%>://pv.sohu.com/cityjson?ie=utf-8"></script>
    <!-- 脚本异常监控 -->
    <script src="<%=http%>://js.fundebug.cn/fundebug.0.4.0.min.js" apikey="<%=htmlWebpackPlugin.options.fundebugKey%>" releasestage="<%=htmlWebpackPlugin.options.NODE_ENV%>"></script>
    <!-- 友盟统计 -->
    <script src="<%=http%>://s13.cnzz.com/z_stat.php?id=1273654659&web_id=1273654659" language="JavaScript"></script>
</head>

<body style="display: none;">
    <%= require('html-loader!./template/container.html')%>

    <script type="text/javascript" src="<%=http%>://apps.bdimg.com/libs/zepto/1.1.4/zepto.min.js"></script>
    <% chunks.forEach(function(name,index){ %>
    <% if(typeof scriptList[name] === 'object'){ %>
        <script type="text/javascript" src="<%=scriptList[name].entry%>"></script>
    <% } %>
    <% }) %>
</body>

</html>